@import "styles/variables.scss";
@import "styles/mixins.scss";

body {
  background: radial-gradient(circle, #2e3b4c, #313e50,#2f3a4a,  #232a37);
  margin: 0;
  font-family: FuturaCondensedBold, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  font-size: $button-font-size;
  color: $button-text-color;
  cursor: pointer;
  background-color: $button-default-color;
  // TODO SET BACKGROUND-COLOR.
  height: 100%;
  padding: 4px 16px;
  border-radius: $button-border-radius;
  border-color: transparent;
}

input {
  border-radius: $input-border-radius;
  padding-left: $input-padding-left;
}


@font-face {
  font-family: FuturaCondensedBold;
  src: url("./fonts/Futura Condensed Bold.otf");
}
